// Button
.ant-btn {
  width: 180px;
}

// Label
.ant-form-item-label > label {
  height: 20px;
}

// Table
.ant-table-row.current-user-row {
  background: #f9db35;
}

@media screen and (max-width: 1023px) {
  .ant-card-body {
    flex-direction: column;
  }
  .ant-card-grid {
    width: 100% !important;
  }
}
